.content-header{
    height: 77px;
    margin-top: -8px;
}
.breadcrumb {
    background-color: transparent !important;
}
.fa-home{
    padding-right: 5px;
}
#nnavatar {
    margin-top: 10px;
}

.new-img {
    margin-top: 10px;
}

.new-av {
    image-rendering: auto;
    display: block;
    object-fit: contain;
    margin: 20px 0;
}

.icons-admin {
    content: "\f000";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.btn-success a {
    color: white !important;
}

.btn-success {
    margin-right: 15px;
}

.btn-action {
    width: 200px;
}

.admin-button {
    margin-bottom: 20px;
}

#snoAlertBox {

    display: none;
}

.editor-active {
    display: block;
    margin: auto;
}

input[type=checkbox] {
    transform: scale(1.3);
}

.pass-word .card-body {
    padding: 30px;
}

.forgot-pass {
    line-height: 3.8rem;
    color: #fff;
    font-size: 22px;
    text-align: center;
    background: #00c0ef;

}

.tittle-forgot {
    font-size: 14px;
    color: black;
    font-weight: 400;
}

.input-group .mb-3 {
    background-color: #dde3ec;
    height: 43px;
    color: #8290a3;
    border: 1px solid #dde3ec;
}

.back-lg {
    text-align: center;
}

.input-group-text {
    width: 40px;
}

.dropdown-inbox {
    padding: 0 20px;
}

.dropdown-menu > li.external > h3 {
    margin: 0;
    padding: 0;
    float: left;
    font-size: 13px;
    display: inline-block;
}

.dropdown-menu .dropdown-menu-list > li > a {
    display: block;
    clear: both;
    font-weight: 300;
    line-height: 20px;
    white-space: normal;
    font-size: 13px;
    padding: 0px 13px 0px;
    text-shadow: none;
}

.dropdown-menu-list .photo {
    float: left;
    color: #0000cc;
    margin: 0 6px 6px 0;
}

.dropdown-menu-list .photo img {
    width: 40px;
}

.dropdown-menu > li.external {
    display: block;
    overflow: hidden;
    padding: 5px 15px;
    letter-spacing: .5px;
    border-radius: 4px 4px 0 0;
}

.dropdown-menu .dropdown-menu-list {
    padding-right: 0 !important;
    padding-left: 0;
    list-style: none;
}

.dropdown-menu-list.scroller {
    max-height: 205px;
    overflow-y: scroll;
}

.dropdown-menu-list > li .subject {
    display: block;
    margin-left: 46px;
}

.dropdown-menu {
    min-width: 160px;
    max-width: 275px;
    width: 275px;
    z-index: 9995;
}

.dropdown-extended .dropdown-menu > li.external > a {
    display: inline-block;
    padding: 0;
    background: none;
    clear: inherit;
    font-size: 13px;
    font-weight: 300;
    position: absolute;
    right: 10px;
    border: 0;
    margin-top: -1px;
}
.dropdown-extended .dropdown-menu li a{
    border-bottom: 1px solid;
}

.dropdown-extended .dropdown-menu .footer{
    padding-top: 10px;
    border-top: 1px solid;
}
.scroller::-webkit-scrollbar-thumb {
    background: #4f5962;
    border-radius: 55px;
}

::-webkit-scrollbar {
    width: 5px;

}

.dropdown-toggle > .badge {
    position: absolute;
    top: -4px;
    right: 44px;
    font-weight: 300;
    padding: 3px 6px;
}

.badge.badge-default, .badge.badge-success {
    background-color: #36c6d3;
    color: #fff;
}

.badge {
    border-radius: 10px !important;
}

.dt-buttons {
    position: absolute;
    width: 10%;
}

.buttons-excel {
    background: #1d75b3;
    width: 100px;
    border-radius: 5px;
    border: none;
    color: white;
}

.sidebar-menu .active {
    background-color: red;
}

.language .language-admin {
    width: 60px;
    padding-left: 15px;
    color: white;
}

.navbar-nav .language .dropdown-menu {
    min-width: 100px !important;
}

.d-sm-inline {
    color: white;
}

.language img {
    max-width: 16px;
}

.custom-file {
    margin-top: 20px;
}

.file_input_div {
    margin: auto;
    width: 250px;
    height: 40px;
}

.file_input {
    float: left;
}

#file_input_text_div {
    width: 200px;
    margin-top: -8px;
    margin-left: 5px;
}

.none {
    display: none;
}

.copyright {
    display: block;
    margin-top: 100px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.copyright a {
    text-decoration: none;
    color: #EE4E44;
}

.input-img {
    position: relative;

}

.input-img img {
    float: left;
}

/****** CODE ******/

.file-upload {
    display: block;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.file-upload .file-select {
    margin-top: 10px;
    display: block;
    border: 2px solid #dce4ec;
    color: #34495e;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    text-align: left;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
    width: 30%;
}

.file-upload .file-select .file-select-button {
    background: #dce4ec;
    padding: 0 10px;
    display: inline-block;
    height: 40px;

    line-height: 40px;
}

.file-upload .file-select .file-select-name {
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
}

.file-upload .file-select:hover {
    border-color: #34495e;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload .file-select:hover .file-select-button {
    background: #34495e;
    color: #FFFFFF;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload.active .file-select {
    border-color: #3fa46a;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload.active .file-select .file-select-button {
    background: #3fa46a;
    color: #FFFFFF;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload .file-select input[type=file] {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

.file-upload .file-select.file-select-disabled {
    opacity: 0.65;
}

.file-upload .file-select.file-select-disabled:hover {
    cursor: default;
    display: block;
    border: 2px solid #dce4ec;
    color: #34495e;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
    text-align: left;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
}

.file-upload .file-select.file-select-disabled:hover .file-select-button {
    background: #dce4ec;
    color: #666666;
    padding: 0 10px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

.file-upload .file-select.file-select-disabled:hover .file-select-name {
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
}
.right-categories .widget-title{
    cursor: move;
    width: 100%;

    overflow: hidden;
    height: 35px;
    border-bottom: 1px solid #eee;
    padding: 0 5px;
    background: none;
}
.right-categories .widget-title span{
    font-size: 14px;
}
.category{
    margin-top: -25px;
}
.right-categories .form-control{
    margin-top: 10px;
}
.category-slug{
    display: none;
}

#category_list .status-label {
    display: inline-block;
    border-radius: 5px;
    padding: 3px 5px;
    width: 100%;
    text-align: center;
    color: #fff!important;
}
.input-slug{
    margin-left: 10px;
    margin-top: -4px;
}
#list-others-language{

    cursor: pointer;
}
.category .vietnam-input ,.category .japan-input{
    display: none;
}
.icon-lang{
    max-width: 15px !important;
}
.icon-lang img{
    max-width: 15px;
}
/*roles*/
.label-default {
    background-color: #999;
}
.label {
    display: inline-block;
    font-size: 11px;
    padding: 5px 8px 6px;
    line-height: 13px;
    font-weight: 600;
    color: #fff;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}
.label-warning {
    background-color: #e7804f;
}
.meta-boxes{
    width: 100%;

}
.widget-title{

}
.meta-boxes .widget-title {
    cursor: move;
    overflow: hidden;
    height: 25px;
    border-bottom: 1px solid #eee;
    background: none;
    margin-bottom: 15px;
}
.widget-title h4{
    font-size: 14px;
    font-weight: 700;
}