
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 16px;

    font-family: sans-serif;
    color: #000;
}

a {
    outline: none;
    text-decoration: none;
    font-weight: 400;
    color: inherit;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

body ul {
    margin: 0;
    padding: 0;
}

body li {
    list-style: none;
}

.mobile {
    display: none;
}

.navbar-toggler {
    width: 100%;
}

.row-15 {
    margin-right: -15px;
}

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

.txt-gray {
    color: #a5a8ab;
}

/* for content */
.wrapper {
    width: 100%;
    min-height: 100%;
}

.content {
    width: 100%;
    margin: auto;
}

.skr-container {
    position: relative;
    padding: 0 4%;
}

.header-wrapper {
    padding: 0px;
    z-index: 9;
}

.header-main {
    max-width: 1165px;
}

/* logo*/
.content-logo .logo-viet {
    padding-right: 5%;
}

.content-logo {
    text-align: center;
    font-size: 20px;
    margin: 4%;
}

.container-logo {
    text-align: center;
    margin-left: 4%;
    margin-right: 4%;
    padding: 30px 0;
    margin-bottom: 50px;
}

.container-logo h2 {
    margin-bottom: 30px;
}

.container-logo .owl-carousel .owl-nav {
    text-align: right;
}

.container-logo .owl-carousel .owl-nav button.owl-prev, .container-logo .owl-carousel .owl-nav button.owl-next {
    font-size: 50px;
}

.container-logo .owl-carousel .owl-nav button.owl-prev:hover, .container-logo .owl-carousel .owl-nav button.owl-next:hover {
    color: black;
    background: none;
    outline: 0;

}

.owl-carousel .owl-nav button.owl-prev:focus, .container-logo .owl-carousel .owl-nav button.owl-next:focus {
    outline: none;
}

.owl-dots button:focus {
    outline: none;
}

.container-logo .item img {
    height: 100px;
    object-fit: contain;
    margin-top: 4%;
}

/*End logo*/
/*Start header*/
.content-header {
    padding: 50px 0;
}

.content-header h1 {
    font-size: 3rem;
    font-weight: bold;
}

.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: auto;
}

.navbar-light .navbar-toggler-icon {
    background-image: url('../img/page/nav-menu-icon.png');
    background-repeat: no-repeat;
}

.navbar-light .navbar-nav .nav-link {
    color: #0c0c0c;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-light .navbar-toggler {
    color: #0c0c0c;
    border-color: transparent;
}

.nav-item select {
    color: #0c0c0c;
    background: transparent;
    font-size: 17px;
    font-weight: bold;
    border: none;

    margin-top: -5px;
    outline: none;
}

.navbar-light .navbar-nav .nav-item a:hover {
    color: #8e1ea2;
    text-decoration: none;
}


.navbar-light .navbar-toggler-icon {
    background-color: #fff;
}

.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 100;
    border-bottom: 1px #efefef solid;
    border-color: rgba(0, 0, 0, .1);
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, .5);
    background: white;
}

.right-align {
    margin-left: auto;
}

.languages .dropdown-toggle {
    background: transparent;
    border: none;
    margin-top: 7px;
    padding-right: 1.3rem;
    padding-left: 1.3rem;
    font-weight: bold;
}

.dropdown-toggle:focus {
    outline: none;
}

.languages .dropdown-menu {
    min-width: auto;
    background: rgba(217, 73, 227, 0.9);
}

.languages .dropdown-item {
    padding: .15rem 0.5rem;
    min-width: 140px;
}

.languages img {
    max-width: 20px;
    margin-bottom: 3px;
    margin-right: 5px;
}

#top_navbar .active a {
    color: #8E1EA2;
}

#top_navbar .nav-link:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #8E1EA2;
    transition: width .3s;
}

#top_navbar .home a {
    color: #8E1EA2;
}

#top_navbar .nav-link:hover::after {
    width: 100%;
/ / transition: width .3 s;
}

/*end menu*/

/* start slider*/
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    margin-bottom: 50px;
}

.mySlides {
    /* background-image: url('../img/sakuraimage/slider1.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.slideshow-container .fade {
    opacity: 1;
}

.header-wrapper {
    position: absolute;
    width: 100%;
    top: 0;
}

.icon-side {
    position: fixed;
    bottom: 90px;
    right: 20px;
    width: 60px;
    height: 60px;
    z-index: 40;
    transition: all 0.3s ease;
    /* display: none; */

}

.icon-main-side {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 40;
    transform: translateY(-50%);
}

#back-to-top {
    position: fixed;
    bottom: 10px;
    right: 20px;
    width: 60px;
    height: 60px;
    text-decoration: none;
    border-radius: 50%;
    border: 5px solid #8E1EA2;
    display: none;
    transition: all 0.3s ease;
    z-index: 99;
}

#back-to-top i {
    display: block;
    text-align: center;
    color: #8E1EA2;
    font-size: 35px;
}

.icon-inside {
    position: relative;
    width: 60px;
    height: 60px;
}

.icon-inside .circle1 {
    position: absolute;
    border: .5px solid #e1e1e1;
    transform: scale(1);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    animation: circle1 linear 1.5s infinite;
    /* animation-name: circle1;
    animation-timing-function: linear;
    animation-duration: 1.5s;
    animation-iteration-count: infinite; */
}

.icon-inside .circle2 {
    position: absolute;
    border: .5px solid #e1e1e1;
    transform: scale(1);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    animation: circle1 linear 1.5s infinite;
    animation-delay: .4s;
}

.icon-inside .circle3 {
    position: absolute;
    border: 1px solid #e1e1e1;
    transform: scale(1);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    animation: circle1 linear 1.5s infinite;
    animation-delay: .8s;
}

@keyframes circle1 {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    99% {
        transform: scale(2);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.icon-inside img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}


.contain-slider h3 {
    position: absolute;
    top: 50%;
    left: 73%;
    transform: translate(-50%, -50%);
    width: 25%;
    text-align: left;
    color: white;
    font-weight: 200;
    font-size: 1.4rem;
}

.contain-slider h3 span {
    color: #8e1ea2;
    font-weight: 600;
    font-size: 35px;
    line-height: 1.6em;
}

#contain-about .about-us {
    margin-top: 10%;
    position: relative;
    text-align: center;
    height: 400px;
}

#contain-about .about-us::before {
    content: "";
    height: 120%;
    width: 65%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #8e1ea2;

}

.about-us > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

.colabot {
    margin-left: -45px;
}

.colabout-child {
    margin-top: 0;
    padding-left: 0;
    margin-left: 0;
}

.colabout p {
    font-size: 18px;
    text-align: justify;
    margin-top: 5px;
    text-indent: 15px;
}

.colabout h2, .footer-contact h2 {
    font-weight: 700;
}

.colabout h2 {
    position: relative;
    display: table;
    margin-bottom: 40px;
}

.colabout .mb-3 p, .footer-contact h2 {
    position: relative;
    display: table;
    margin-bottom: 18px;
}


.colabout h2::before, .colabout .mb-3 p::before {
    content: "";
    background: #8e1ea2;
    width: 80%;
    height: 3px;
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
}

.colabout .mb-footer p {
    position: relative;
    margin-bottom: 20px;
}

.colabout .mb-footer p::before {
    content: "";
    background: #8e1ea2;
    width: 60%;
    height: 2px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.intro, .content-home1 {
    margin-top: 4%;
    margin-bottom: 3%;
}

.row-intro {
    display: flex;
    margin-top: 6%;
}

.colintro {
    position: relative;
    overflow: hidden;
    width: calc(100% / 3);
}

.colintro:hover .img-muiten {
    opacity: 1;
}

.colintro:hover .img-muiten img {
    transform: none;
}

.intro-img img {
    width: 100%;
    height: 455px;
    object-position: center;
}

.colintro .intro-img:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
    opacity: 0;
    transition: 0.3s;
}

.colintro .intro-img:hover::before {
    opacity: 1;
}

.colintro .intro-img:hover .img-muiten h3 {
    color: red;
}

.colintro .img-muiten {
    transition: 0s;
}

.colintro .img-muiten h3 {
    color: #8E1EA2;
    font-size: 40px;
    text-align: center;
    z-index: 7;
    position: absolute;
    top: 76px;
    left: 75px;
    display: block;
    font-weight: 700;
}

.colintro:hover h3 {
    color: white;
}

.colintro .img-muiten p {
    color: white;
    font-size: 40px;
    text-align: center;
    font-family: Helvetica;
    position: absolute;
    top: 76px;
    left: 75px;
    z-index: 8;
    display: block;
    font-weight: 700;
}

.colintro .img-muiten p {
    display: none;
}

.colintro .img-muiten img {
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s;
    transform: translateX(-100%);
    z-index: 8;
}

.slider-service .item img {
    height: 430px;
}

.text-services {
    text-align: center;
    margin: 4%;
}

.owl-item .active {
    margin-right: 0;
}

.text-services p {
    text-align: center;
    padding: 0 2%;
}

.text-services h2 {
    font-weight: 700;
    text-transform: uppercase;
}

.text-imgservices {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    z-index: 3;
}

.hightline-services {
    position: relative;
    overflow: hidden;
}

.hightline-services .text-imgservices {
    opacity: 0;
    transition: 0.3s;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 90%;
    text-align: center;
}

.hightline-services .item:hover .text-imgservices {
    opacity: 1;
    transform: translate(-50%, -50%);
}

.hightline-services .item {
    position: relative;
}

.hightline-services .item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(142, 30, 162, 0.72);
    z-index: 2;
    opacity: 0;
    transition: 0.3s;
}

.hightline-services .item:hover::before {
    opacity: 1;
}

.hightline-services .owl-carousel {
    position: relative;
}

.hightline-services .owl-carousel .owl-nav button.owl-next {
    position: absolute;
    top: 46%;
    right: -5px;
    font-size: 140px;
    transform: translateY(-50%);
    padding: 5px 10px !important;
    border: none;
    color: white;
    background: none;
}

.hightline-services .owl-carousel .owl-nav button.owl-next:focus, .hightline-services .owl-carousel .owl-nav button.owl-prev:focus {
    outline: none;
}

.hightline-services .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    top: 46%;
    left: -5px;
    font-size: 140px;
    transform: translateY(-50%);
    padding: 5px 10px !important;
    border: none;
    color: white;
    background: none;
}

.mb p {
    text-align: center;
}

.text-t p {
    color: #8e1ea2;
}

.all-services {
    margin-left: 54px;
    margin-right: 54px;
}


/* news*/
.colnews {
    position: relative;
}

.colnews h2 {
    font-weight: 700;
}

.new-left {
    padding-right: 15px;
    padding-left: 0;
}

.colnews .owl-carousel .owl-nav button.owl-prev {
    display: none;
}

.colnews .owl-carousel .owl-nav button.owl-next {
    position: absolute;
    top: -55px;
    right: 0;
    font-size: 18px;
}

.colnews .owl-carousel .owl-nav button.owl-next:hover {
    background: none;
    color: #8e1ea2;
}

.colnews .owl-carousel .owl-nav button.owl-next i {
    font-size: 30px;
}

.colnews .owl-carousel .owl-nav button.owl-next::before {
    position: absolute;
    top: -20px;
    right: 0;
}

.am-prev {
    background: transparent;
    border: none;
    width: 50px;
    padding-top: 12px;
    color: #8e1ea2;
}

.am-prev img {
    max-width: 38px;
    position: absolute;
    bottom: -4px;
    left: 8px;
}

.am-prev:focus {
    outline: none;
}

.row-news {
    margin: 4%;
    margin-left: 6%;
    padding-right: 15px;
}

.colnews p {
    background-color: #8e1ea2;
    font-size: 19px;
    padding: 6% 4%;
    color: white;
}


.news-p {
    position: relative;
}

.row-news .owl-theme .owl-nav.disabled + .owl-dots {
    position: absolute;
    left: 20%;
}

.row-news:focus {
    outline: none;
}

.news-p::before {
    content: "";
    position: absolute;
    border-left: 16px solid transparent;
    border-top: 20px solid #742C59;
    bottom: -20px;
    left: 0;
}

.slider-news .owl-stage-outer img {
    width: 130px !important;
    height: 130px;
    border-radius: 50%;
}

.slider-news .item img {
    margin-left: 10%;
    margin-top: 5%;
}

.owl-theme .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
    margin: 5px 3px
}

.colnews img {
    width: 100%;
}

.container-news {
    padding: 0 15px;
    line-height: 1.8em;
    height: 60px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.colnews-child p {
    text-align: left;
}

.container-news p {
    background-color: white;
    color: black;
    font-size: 15px;
    margin: 0;
}

.child-news {
    border: 1px solid #9cc2cb;
    transition: 0.3s;
    overflow: hidden;
}

.child-news:hover {
    border: 1px solid #e1e1e1;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

.child-news img {
    height: 175px
}

.date-news {
    margin-top: 15px;
}

/* modal */
.modal-header .close {
    padding: 1rem 0;
    margin: -1rem -1rem -1rem auto;
}

.close {
    font-size: 3rem;
    font-weight: 300;
}

.logo-desktop img {
    max-width: 85%;
}

/* tabs Service*/
.content-home1 {
    text-align: center;
}

.operation-line {
    margin: auto;
    width: 20%;
    border-bottom: 3px solid #500a6f;
    margin-bottom: 30px;
}

.tabs {
    max-width: 640px;
    margin: 0 auto;
    padding: 0 20px;
}

.all-services .nav-tabs a {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-tabs .nav-item {
    background: #8e1ea2;
    line-height: 1.2;
    font-size: 16px;
}

/*
.nav-tabs .nav-item:last-child .nav-link {
    padding-top: 10px;
}*/

.nav-tabs .nav-link {
    border: none;
    margin: 0 -15px;
    font-weight: 400;
    font-family: Helvetica;
    border-right: 1px solid;
    height: 100%;
}

.nav-tabs .nav-link:hover {
    color: black;
}

.nav-tabs .nav-link.active {
    height: 100%;
    color: #8E1EA2;
    border-radius: 0;
    font-weight: 700;
}

.nav-tabs .nav-item:last-child .nav-link .active {
    color: #000;
    border-radius: 0;
}

.tab-content {
    border: 3px solid #e1e1e1;
    border-top: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .15);
    font-size: 16px;
    background: #DBDBDB;
}

.text-text img {
    width: 90%;
    height: 65%;
    object-fit: cover;
    box-shadow: 0 3px 6px #00000029;
}

.tab-content h1 {
    position: relative;
    display: table;
    margin: 0 auto 35px auto;
    font-weight: 700;
}

.tab-content h1:before {
    content: "";
    background: #8e1ea2;
    width: 80%;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.tab-content .right-border {
    border-right: 2px solid #8E1EA2;
    height: 325px;
}

#menu0 {
    background-image: url('../img/sakuraimage/MainPhoto.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; /* Center the image */
}

#menu0 h3 {
    top: 50%;
    left: 50%;
    transform: translate(-25%, 290%);
    color: white;
}

#menu1 {
    /* background-image: url('../img/sakuraimage/Office.png'); */
    /* background-attachment: fixed; */
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    overflow: hidden;
    /* transition: transform 1s; */
}

#menu1 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
    cursor: pointer;
}

#menu1 img:hover {
    transform: scale(1.1);
}

/* #menu1:hover{
    -ms-transform: scale3d(1.1,1.1,1);
    -webkit-transform: scale3d(1.1,1.1,1);
    -moz-transform: scale3d(1.1,1.1,1);
    transform: scale3d(1.1,1.1,1);
    overflow: hidden;
    cursor: pointer;
    
} */

#menu1:before {
    background-color: rgba(0, 0, 0, 0.35);
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#menu1 h1 {
    color: white;
    margin-top: 20px;
}

#menu1 .row-tabs {
    margin: 0 40px;

}

#menu1 .new-office {
    border-radius: 20px;
    margin: 0 35px;
    margin-top: 45px;
    padding-bottom: 20px;
    max-width: calc(100% / 4 - 70px);
    background: rgba(142, 32, 162, .5);
}

#menu1 .text-h4 {
    margin: 20px 0;
}

/* #menu1 .text-h4:before{
    background-color: rgba(255, 255, 255, 0.65);
    content: "";
    border-radius: 20px;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
} */
#menu1 h5 {
    color: white;
    padding: 5px 0;
}

#menu1 p {
    margin: 0 25px;
    color: white;
}

#menu2 {
    background-image: url('../img/sakuraimage/Apartment.png');
    background-attachment: fixed;
    box-shadow: 0 3px 6px #00000029;
}

#menu2 .row-tabs {
    margin: 60px 20px 0 20px;
}

#menu2 .header-menu-2 h1 {
    /* border: 1px solid #707070; */
    padding: 5px 15px 18px;
    border-radius: 50px;
    background: rgba(255, 255, 255, .52)
}

#menu2 .header-menu-2 h1:before {
    bottom: 10px;
}

#menu2 .operation-black {
    background: rgba(142, 32, 162, .5);
    border-radius: 35px;
    padding: 30px 30px;
    margin: 0 15px;

}

#menu2 .text-menu-2 {
    color: white;
    opacity: 1;
    z-index: 50;
}

/* .operation-black{
    background: #8E1EA2;
    border-radius: 35px;
    color: white;
    text-align: center;
    padding: 30px 30px;
} */
#menu3 .planting-service {
    position: relative;
    margin: 80px 0;
    height: 400px;
}

#menu3 .operation-black-9 {
    position: absolute;
    top: -3%;
    left: 5%;
}

#menu3 .operation-black-1 {
    position: absolute;
    top: -3%;
    right: 5%;
}

#menu3 .operation-black-2 {
    position: absolute;
    bottom: 15%;
    right: 5%;
}

#menu3 .operation-black-3 {
    position: absolute;
    bottom: 15%;
    left: 5%;
}

#menu3 .operation-black-4 {
    position: absolute;
    top: -6%;
    left: 45%;
}

#menu3 .operation-black-5 {
    position: absolute;
    top: 27%;
    left: 20%;
}

#menu3 .operation-black-6 {
    position: absolute;
    top: 28%;
    right: 20%;
}

#menu3 .operation-black-7 {
    position: absolute;
    bottom: 35%;
    right: 40%;
}

#menu3 .operation-black-8 {
    position: absolute;
    bottom: 12%;
    left: 45%;
}

#menu3 .operation-black-0 {
    margin: auto;
    max-width: 400px;
}

#menu3 .operation-black-7 img {
    width: 90%;
    box-shadow: 0 9px 12px #00000029;
}

#menu3 .operation-black-0 h4 {
    color: #8e1ea2;
}

#menu3 .operation-black h5 {
    margin-bottom: 30px;
}

.colhouse {
    padding: 0 15px;
}

#menu3 {
    padding: 0 40px;
}

/* #menu3 h4{
    margin: auto;
    background: white;
    line-height: 3em;
    color: #8e1ea2;
    font-size: 15px;
    text-align: center;
    position: relative;
    width: 79%;
    font-weight: bold;
    z-index: 5;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
#menu3 h4:after{
    content: '';
    border-left: 45px solid white;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    position: absolute;
    left: 85%;
    top: -17px;
    z-index: -10;
} */


.content-home1 {
    text-align: center;
}


.image-tabs img {
    width: 210px;
    height: 210px;
    margin-right: 15px;
}

#menu4 .circle {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    margin-top: 20%;
    text-align: left;
    position: absolute;
    left: 50%;
    margin-left: -25px;
}

#menu4 .circle:nth-child(2) {
    bottom: 58%;
    position: absolute;
}

#menu4 .circle:nth-child(3) {
    bottom: 35%;
    position: absolute;
}

#menu4 .circle:last-child {
    bottom: 10%;
    position: absolute;
}

.coltab-circle {
    background-image: linear-gradient(#8A1D9D, #230229);
    padding: 0;
}


#menu4 .circle span {
    transform: translateY(10px);
    position: absolute;
    margin-left: 16px;
    font-weight: bold;
}

#menu4 .factories {
    position: relative;
    height: 100%;
}

#menu4 .factories img {
    right: 200px;
    width: 370px;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    object-fit: cover;
    box-shadow: 0 9px 13px #00000029;
}

.operation-border {
    width: 270px;
    border: 1px solid;
    height: 100%;
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);

}

.factories span {
    background: #DBDBDB;
    font-weight: 700;
    font-size: 35px;
    position: absolute;
    right: 7%;
    top: 40%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.factories-right p {
    margin-left: 20px;
    margin-top: 10px;
}

#menu5 .hotel-tab {
    margin-bottom: 20px;
}

#menu5 h1 {
    margin-top: 0;
    margin-bottom: 30px;
}

#menu5 p {
    text-align: justify;
}

#menu5 img {
    width: 95%;
    object-fit: cover;
    height: 210px;
}

.hotel-mobile {
    padding-right: 0;
}

.hotel-mobile-1 {
    padding-left: 0;
}

#menu6 .row-tabs, #menu4 .row-tabs {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-10%, -50%);
}

#menu6 .row-bottom {
    margin-bottom: 20px;
}

#menu6 h4 {
    font-weight: bold;
}

.tab-super {
    padding: 0 100px;
}

.coltab p {
    text-align: justify;

}

#menu6 .circle {
    height: 80px;
    width: 80px;
    position: relative;
    background-color: #8E1EA2;
    border-radius: 50%;
    text-align: left;
    border: 1px solid #8E1EA2;
    margin-left: 40px;
}

#menu6 .circle span {
    color: black;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .row-tabs .text-text{
    padding-right: 100px;
} */
.circle-purple {
    background-color: #F5F3E7 !important;
}

.tab-pane {
    min-height: 558px;
    position: relative;
}

/* End tabs Service*/

/* Contact*/
input[type=text], input[type=email], select, .form-group textarea {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;

    background: white;
}

input[type=submit] {
    background-color: white;
    color: #8e1ea2;
    padding: 3px 75px;
    border: 1px solid #8e1ea2;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    margin-top: 13px;
    border-radius: 5px;
    display: block;
    margin: auto;
}

input[type=submit]:hover {
    background-color: #8e1ea2;
    color: white;
}

.text-form input {
    margin-right: -10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
    margin-bottom: 10px;
}

textarea:required {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
    border: solid 0px transparent;
}

.footer-warpper {
    font-size: 16px;
    padding-right: 15px;
}

.colcontact-1 {
    border-right: 2px solid #000000;
    height: 230px;
}

.t-contact-jp {
    padding: 0 10%;
}

.t-contact p span {

    padding-right: 10px;
}

.text-brand {
    margin-left: 24px;
    margin-bottom: -15px;
}

.text-brand p {
    font-weight: 500;
    font-size: 13px;
}

.t-contact span.mdi {
    color: #8e1ea2;
}

.mdi-1:before {
    color: white;
}

.text-address {
    margin: 20px 0;
}

.text-phone p {
    margin-bottom: 0;
}

.text-name {
    margin-left: 24px;
    margin-bottom: -12px;
    font-weight: 500;
}

.text-name-name p {
    color: #8E1EA2;
}

.t-foot p {
    margin-bottom: 0;
}


.footer-contact h2::before, .footer-contact .mb-3 p::before {
    content: "";
    background: #8e1ea2;
    width: 80%;
    height: 3px;
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
}

.text-contact .mb p {
    margin-bottom: 3px;
}

.row-contacts {
    margin-top: 60px;
}

.contact {
    border-radius: 5px;
    background: #B8B8B8;
    padding: 50px;
}

.lnr {
    font-family: "FontAwesome";
}

.lnr-instagram::before {
    content: "";
}

.lnr-facebook::before {
    content: "";
}

.lnr-twitter::before {
    content: "";
}

.lnr-map::before {
    content: "";
}

.mdi-vn {
    float: left;
    height: 90px;
}

.mdi-jp {
    float: left;
    height: 60px;
}


.contact-item .lnr {
    font-size: 30px;
    font-weight: 500;
    color: white;
    width: 60px;
    margin-left: 10px;
}

.left-about {
    position: absolute;
    left: 70px;
    margin-top: 12px;
}

.sdt-about {
    margin-bottom: 20px;
}

.contact-item p {
    color: white;
}

.col-form-contact {
    padding-left: 25px;
}

/*Footer*/
footer {
    display: none;
}

.footer-wrapper {
    font-size: 14px;
    text-align: center;
    background-image: linear-gradient(black, gray);
    color: white;
}

.footer-content {
    font-size: 11px;
    width: 97%;
}


/*Costomer*/
.lnr-circle::before {
    content: "";
}

.lnr-circle1::after {
    content: "";
}

.customer-name {
    font-size: 25px;
}

.row-customer {
    margin: 3% 0;
}

.colcustomer img {
    width: 40%;
}

.customer {
    margin: 5% 0;
}

/*Proncliples--*/
.text-principles h2 {
    text-align: center;
    color: #8e1ea2;
    margin: auto;
    margin-top: 5%;
    text-transform: uppercase;
}

.colprinciples-1 {
    margin-top: 70px;
    padding-left: 50px;
}

.colprinciples-1 p {
    font-size: 20px;
}

.content-guiding {
    margin: auto;
    text-align: center;
}


.principles-image img {
    width: 95%;
    height: 408px;
}

.row-principles {
    margin: 80px 0;
    margin-left: 100px;
    margin-right: 160px;
}

.row-guiding {
    background-color: #8e1ea2;
    margin: 70px 50px;
    padding: 70px 50px;
}

.guiding-principles {
    text-align: center;
    margin-top: 120px;
}

.guiding-principles-1 {
    margin-top: 55px;
}

.content-principles h4 {
    position: relative;
    margin-left: 27px;
}

.content-principles h4:before {
    content: "";
    background: black;
    width: 4%;
    height: 2px;
    position: absolute;
    top: 50%;
    left: -6%;
    transform: translateY(-50%);
    transition: 0.3s;
    opacity: 0;
}

.content-principles h4:hover::before {
    left: -4%;
    opacity: 1;
}

.row-principles h2, .row-principles h3 {
    color: white;
    text-align: center;
}

.row-principles .contain-priciples {
    margin-left: 10%;
    font-size: 18px;
    color: #707070;
    margin-top: 20px;
}

.row-principles .contain-priciples .text-1 {
    padding-bottom: 2%;
    display: flex;
}

.row-principles .contain-priciples .text-2 p {
    padding-left: 7%;
}

.row-principles .contain-priciples-1 {
    margin-right: 10%;
    margin-top: 20px;
    font-size: 18px;
    color: #707070;
}

.row-principles .contain-priciples-1 .text-1 {
    padding-bottom: 2%;
    display: flex;
}

.line-home {
    height: 4px;
    width: 478px;
    background: #8e1ea2;
    margin: auto;
    margin-bottom: 45px;
    margin-top: 55px;
}

.top-services .b-crumbs {
    padding: 0.8em 0;
    border-bottom: 5px solid #8e1ea2;
    margin-top: 120px;
}

.b-crumbs li {
    display: inline-block;
    margin: 0 32px 6px 15px;
    padding: 0;
    line-height: 1.7;
    position: relative;
}

.b-crumbs li a {
    text-decoration: none;
    transition: all 0.2s;
    line-height: 100%;
    font-size: 25px;
}

.top-services .b-crumbs li:nth-child(1) a {
    color: #8e1ea2;
    text-transform: capitalize;
}

.b-crumbs li:nth-child(2) {
    color: #A8A8A8;
}

.b-crumbs li:nth-child(1):after {
    position: absolute;
    content: "";
    font-size: 25px;
    font-family: FontAwesome;
    color: #8e1ea2;
    display: block;
    left: auto;
    top: 0;
    line-height: 0.9;
    margin: 6px 0 0;
    right: -22px;
}

/* home-execution*/
.home-Execution {
    margin: auto;
}

.home-Execution .contain-Execution {
    font-size: 24px;
}

.home-Execution .contain-Execution .text-Execution-1 {
    background-color: #8e1ea2;
    height: auto;
    border-radius: 10px;
    text-align: center;
    margin: 60px auto;
    max-width: 800px;
    background-image: linear-gradient(#8e1ea2, black);
}

.home-Execution .contain-Execution .text-Execution-1 p {
    padding: 25px 0;
    color: white;
}

.text-Execution-big {
    padding: 20px;
    display: flex;
    align-items: center;
    background: white;
    border: 1px solid #e1e1e1;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
    margin: auto;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 5px;
    transition: 0.3s;
}

.text-Execution-big:hover {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
    transform: translateY(-5px);
}

.text-Execution-big:hover .Execution-child-img {
    border-color: #8e1ea2;
}

.text-Execution-big:hover .Execution-child-img .hidden {
    opacity: 1;
}

.text-Execution-big:hover .Execution-child-img .show {
    opacity: 0;
}

.text-Execution-big:hover .Execution-child-img:before {
    transform: none;

}

.text-Execution-big .Execution-child-img {
    border: 1px solid #dbdcdd;
    border-radius: 50%;
    line-height: 85px;
    margin: auto;
    width: 90px;
    height: 90px;
    text-align: center;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
}

.text-Execution-big .Execution-child-img:before {
    background-color: #8e1ea2;
    border-radius: 50%;
    width: 90%;
    height: 90%;
    content: "";
    transition: 0.3s;
    left: 5%;
    top: 5%;
    position: absolute;
    transform: scale(0);
}

.text-Execution-big .Execution-child-img .hidden {
    opacity: 0;
}

.text-Execution-big .Execution-child-img img {
    width: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
}

.text-Execution-big .Execution-child-2 {
    width: 30%;
    padding: 0 30px;
}

.text-Execution-big .Execution-child-2 p {
    font-size: 24px;
    font-weight: 500;
}

.text-Execution-big .Execution-child-1 {
    width: calc(70% - 90px);
}

.text-Execution-big .Execution-child-1 p {
    font-size: 20px;
}


@media only screen and (max-width: 767px) {
    .home-Execution .contain-Execution {
        font-size: 15px;
    }

    .home-Execution .contain-Execution .text-Execution-1 {
        margin: 40px 0;
    }

    .home-Execution .contain-Execution .text-Execution-1 p {
        padding: 17px 0;
    }

    .home-Execution .row-execution .text-Execution-big {
        background: white;
        border: 1px solid #e1e1e1;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
        text-align: initial;
        flex-wrap: wrap;
        width: 100%;
    }

    .home-Execution .row-execution .text-Execution-big .Execution-child-img {
        text-align: center;
        line-height: 65px;
        width: 70px;
        height: 70px;
    }

    .home-Execution .row-execution .text-Execution-big .Execution-child-img img {
        width: 40px;
    }

    .home-Execution .row-execution .text-Execution-big .Execution-child-2 {
        width: calc(100% - 90px);
        padding: 0 10px;
    }

    .home-Execution .row-execution .text-Execution-big .Execution-child-2 p {
        font-size: 16px;
    }

    .home-Execution .row-execution .text-Execution-big .Execution-child-1 {
        margin-top: 10px;
        width: initial;
    }

    .home-Execution .row-execution .text-Execution-big .Execution-child-1 p {
        font-size: 14px;
    }
}

/* home-bussiness*/
.home-bussiness {
    max-width: 1300px;
    margin: auto;
}

.home-bussiness .text-bussiness-1 p {
    font-size: 22px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;
}

.home-bussiness .text-row-bussiness ul li:nth-child(2) .col-bussiness .icon-bussiness p, .home-bussiness .text-row-bussiness ul li:nth-child(4) .col-bussiness .icon-bussiness p {
    color: black;
    background: white;
    border: 2px solid white;
}

.home-bussiness .text-row-bussiness .col-bussiness {
    background: #8e1ea2;
    position: relative;
    width: calc(100% - 30px);
}

.home-bussiness .text-row-bussiness .col-bussiness::after {
    content: "";
    border-left: 50px solid #8e1ea2;
    border-top: 112px solid transparent;
    border-bottom: 112px solid transparent;
    position: absolute;
    right: -50px;
    top: 0;
}

.home-bussiness .text-row-bussiness .col-bussiness h4 {
    line-height: 1.3em;
    font-weight: 400;
    padding: 10px 20px 10px 17px;
    color: white;
    height: 150px;
    text-align: center;
    font-size: 16px;
}

.home-bussiness .text-row-bussiness .col-bussiness .icon-bussiness {
    padding-top: 13px;
}

.home-bussiness .text-row-bussiness .col-bussiness .icon-bussiness p {
    border-radius: 50%;
    border: 2px solid white;
    text-align: center;
    width: 60px;
    height: 60px;
    line-height: 55px;
    margin-top: 10px;
    background-color: white;
    color: black;
    font-size: 26px;
    margin: auto;
    text-indent: 0;
}

.text-container-bussiness {
    margin: auto;
    max-width: 500px;
    position: relative;
}

.text-container-bussiness .text-bussiness {
    margin-bottom: 40px;
    position: relative;
}

.text-container-bussiness .text-bussiness::after {
    content: "";
    width: 100px;
    height: 1px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: black;
    margin-bottom: 20px;
}

.text-container-bussiness .text-bussiness p {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.text-container-bussiness .text-bussiness p span {
    color: #8e1ea2;
    display: block;
}

.text-container-bussiness .text-bussiness:last-child:after {
    display: none;
}

.line-home-1 {
    height: 4px;
    width: 190px;
    background: #8e1ea2;
    margin: auto;
    margin-bottom: 45px;
    margin-top: 55px;
}


@media only screen and (max-width: 767px) {
    .b-crumbs li a {
        font-size: 18px;
    }

    .b-crumbs li:after {
        font-size: 18px;
        line-height: 0.7;
    }

    .text-principles h2 {
        margin-top: 8%;
    }


    .home-bussiness .text-bussiness-1 p {
        font-size: 16px;
    }

    .home-bussiness .text-row-bussiness .col-bussiness {
        background: white;
        position: relative;
        width: 100%;
        color: black;
        border: 1px solid #e1e1e1;
        margin-bottom: 15px;
        border-radius: 5px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    }

    .home-bussiness .text-row-bussiness .col-bussiness .icon-bussiness {
        padding-top: 13px;
    }

    .home-bussiness .text-row-bussiness .col-bussiness h4 {
        line-height: 1.3em;
        font-weight: 400;
        padding: 10px 20px 30px 17px;
        color: black;
        height: auto;
        text-align: center;
        font-size: 14px;
    }

    .home-bussiness .text-row-bussiness .col-bussiness::after {
        display: none;
    }

    .home-bussiness .text-row-bussiness ul li {
        flex-basis: initial;
    }

    .home-bussiness .text-row-bussiness .col-bussiness .icon-bussiness p {
        width: 50px;
        height: 50px;
        line-height: 45px;
        font-size: 22px;
    }

    .home-bussiness .text-row-bussiness ul li:nth-child(2) .col-bussiness .icon-bussiness p, .home-bussiness .text-row-bussiness ul li:nth-child(4) .col-bussiness .icon-bussiness p {
        background: #8e1ea2;
        color: white;
        border: 2px solid #8e1ea2;
    }

    .text-container-bussiness .text-bussiness p {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .text-container-bussiness .text-bussiness {
        margin-bottom: 20px;
    }

}


.modal-lg {
    transform: translatex(50%);
}

.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
    pointer-events: none; /* This makes sure that we can still click outside of the modal to close it */
}

.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
}

.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width: inherit;
    max-width: inherit; /* For Bootstrap 4 - to avoid the modal window stretching full width */
    height: inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}

.select ul li {
    font-size: 25px;
    padding-bottom: 10px;
}

.select ul li:after {
    font-family: FontAwesome;
    content: "\f0d7";
    margin-left: 5px;
}

.container-logo .owl-carousel {
    padding: 20px 0;
}

#customer-jp, #customer-vn {
    transition: .5s;
    position: absolute;
    opacity: 0;
}

#customer-jp .owl-nav {
    display: none;
}

li.customer-vn {
    cursor: pointer;
}

li.customer-jp {
    display: none;
    cursor: pointer;
}

.customer-box {
    height: 150px;
    position: relative;
}

#customer-jp.active, #customer-vn.active {
    opacity: 1;
}

#customer-jp .owl-nav, #customer-vn .owl-nav {
    position: absolute;
    right: 0;
    top: -70px;
    width: 30%;
}

#customer-vn .owl-nav .owl-prev, #customer-jp .owl-nav .owl-prev {
    padding-bottom: 5px !important;
    right: 10px;
    line-height: 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: rgba(0, 0, 0, .3);
    width: 40px;
    text-align: center;
    font-size: 46px;
    color: #fff;
    font-family: -webkit-body;
}

#customer-vn .owl-nav .owl-next, #customer-jp .owl-nav .owl-next {
    padding-bottom: 5px !important;
    line-height: 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: rgba(0, 0, 0, .3);
    width: 40px;
    text-align: center;
    font-size: 46px;
    color: #fff;
    font-family: -webkit-body;
}

#customer-vn .item, #customer-jp .item {
    border: 1px solid #5a6268;
    padding: 20px;
}

/* News */
.news-page {
    padding-top: 120px;

}

.new-content {
    min-height: 100vh;
}

.title_widget {
    padding: 0 0 5px 0;
}

.width_common_widget {
    border: 1px solid #eee;
    width: 100%;
    float: left;
}

.title_widget_left {
    float: left;
}

.title_widget_left .title_txt {
    float: left;
    display: inline-block;
    padding: 5px 0 0 0;
}

.title_widget {
    padding: 0 0 5px 0;
}

.width_common_widget {
    width: 100%;
    float: left;
}

.title_widget_left a {
    font: 400 18px arial;
    color: #9f224e;
    margin: 0 0 0 10px;
}

.title_widget_right a {
    font: 400 11px arial;
    color: #999999;
    display: inline-block;
    padding: 10px 0 0 0;
    margin: 0 10px 0 0;
    float: right;
}

.list_news_widget_1 {
    padding: 0;
}

.list_news_widget_1 li:first-child {
    border-left: 3px solid #9f224e;
}

.list_news_widget_1 li {
    width: 100%;
    float: left;
    margin: 0 0 1px 0;
    background: #eeeeee;
    padding: 5px 2% 5px 0;
    border-left: 3px solid #cccccc;
}

.txt_wg_title {
    font: 400 16px arial;
}

.b-crumbs li a {
    text-decoration: none;
    transition: all 0.2s;
    line-height: 100%;
    font-size: 25px;
}

.wg_image_thumb {
    width: 33.56%;
    float: left;
    display: block;
    margin: 0 3.36% 0 1.68%;
}

.wg_image_thumb img {
    width: 100%;
    float: left;
    object-fit: cover;
}

.back-to-top i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.back-to-top:hover i {
    animation: swing linear 1.5s infinite;
}

@keyframes swing {
    0% {
        transform: translate(-50%, -50%);
    }
    25% {
        transform: translate(-50%, -55%);
    }
    50% {
        transform: translate(-50%, -50%);
    }
    75% {
        transform: translate(-50%, -45%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}
