/************* Responsive breakpoints *********************/
/** FOR PC START **/

@media (min-width: 1200px) {
    .content {
        max-width: 1470px;
        margin: auto;
    }

    .is-fixed, .header-wrapper {
        /*max-width: 1470px;*/
    }
}

@media (min-width: 992px) {
    .navbar-light {
        height: 100px;
        margin: auto;
        border-bottom: 1px solid whitesmoke;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.3rem;
        padding-left: 1.3rem;
    }
}

/** FOR PC END **/

/** FOR MOBILE START **/
@media (max-width: 992px){

    .logo-wrapper {
        margin-left: 0px;
        width: 50%;
        max-width: 50%;
    }

    .logo-wrapper img{
        max-width: 43%;
        height: 90%;
        position: absolute;
        left: 53%;
        top: 50%;
        transform: translate(-50%, -50%)
    }
    .logo-desktop{
        display: none;
    }
    .header-logo-wrapper {
        display: none;
    }

    .nav-item {
        border-bottom: 1px #fff solid;
    }

    .navbar-expand-lg {
        background-color: #fff;
        min-height:80px ;
    }

    .navbar-collapse {
        background-color: #000000;
    }

    .dropdown-menu.show {
        background-color: #000000;
    }

    .dropdown-item {
        color: #fff;
    }

    .btn_story {
        width: 50%;
    }

    .btn_top {
        font-size: 1.2rem;
    }
    input[type=submit]{
        margin-left: 20%;
    }
    #top_navbar .nav-link,
    #top_navbar .nav-item select,.languages .dropdown-toggle  {
        color: white ;
    }

}
/** FOR Ipad start **/
@media (min-width: 767px) and (max-width: 1024px){
    #top_navbar{
        position: absolute;
        top: 80px;
        width: 100%;
        left: 0;
    }
    #top_navbar .nav-link,
    #top_navbar .nav-item select {
        margin-left: 20px;
    }
}
/** FOR Ipad End **/
/** Mobile navigation bar **/
@media only screen and (max-width: 767px) {

    /** Menu **/
    .wrapper {
        overflow: hidden;
    }
    .mobile{
        display: inline;
    }
    .header-wrapper{
        position: relative;
    }
    .content-main, .content, .slider , .is-fixed {
        width: 100% !important;
        margin: 0;

        font-size: 13px !important;
    }
    .navbar-expand-lg {
        min-height:50px ;
        height: 70px;
    }
    .logo-desktop {
        display: none;
    }
    .mobile-nav-bar {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        width: 70%;
        height: 100%;
        background-color: #000000;
        overflow: auto;
    }

    .mobile-nav-bar ul li {
        padding: 15px;
    }

    .menu-overlay {
        display: none;
        background-color: #000;
        bottom: 0;
        left: 0;
        opacity: 0.5;
        filter: alpha(opacity=50);
        /* IE7 & 8 */
        position: fixed;
        right: 0;
        top: 0;
        z-index: 10;
    }

    #top_navbar .home a{
        color: #8E1EA2;
    }
    .top-services .b-crumbs {
        margin-top: 0;
    }

    .header-wrapper {
        top: 0;
    }

    #contain-about .about-us {
        height: 270px;
    }

    #contain-about .about-us::before {
        width: 75%;
    }

    /** sider **/

    .contain-slider h3 {
        font-size: 15px;
        width: 72%;
        text-align: center;
        left: 50%;
        top: 60%;
    }

    .contain-slider h3 span {
        font-size: 20px;
    }

    .about-us > img {
        width: 100%;
        display: block;
        position: relative;
        transform: none;
        top: 0;
        left: 0;
    }

    .colabout-child {
        margin-left: 0;
        padding: 15px;
    }


    /**service mobile*/
    .tab-content {
        font-size: 14px;
    }

    .all-services {
        margin: 0;
    }

    .tab-pane {
        min-height: auto;
        padding: 0
    }

    .row-tabs {
        margin: 0;
    }

    .tab-content h1 {
        margin-top: 2px;
        font-size: 22px;
        margin-bottom: 40px;
    }

    
    

    .row-tabs h3 {
        font-size: 20px;
    }

    .intro-img {
        margin: 20px;
        margin-bottom: 0px;
        margin-top: 10px;
    }

    .intro-img img {
        height: 210px;
        width: 100%
    }

    .row-intro {
        flex-wrap: wrap;
        height: auto;
    }

    .colintro .img-muiten {
        opacity: 1;
    }
    .row-intro .colintro{
        width: auto;
    }

    .colintro .img-muiten img {
        transform: none;
        display: none;
    }

    .colintro .img-muiten h3 {
        font-size: 22px;
        top: 22%;
        left: 100px;
    }

    .colintro .img-muiten p {
        display: block;
        color: black;
        font-size: 13px;
        text-align: center;
        font-family: Helvetica;
        position: absolute;
        top: 40%;
        left: 35%;
        z-index: 8;
        display: block;
        border: 1px solid black;
        border-radius: 50px;
        line-height: 1.5;
        width: 25%;
        font-weight: 200;
    }

    .colintro .img-muiten h3 {
        color: #8e1ea2;
        font-weight: 500;
        z-index: 6;
    }

    .nav-tabs .nav-link {
        width: 160px !important;
        font-size: 14px;
    }

    .nav-tabs-wrapper {
        display: inline;
        overflow: hidden;
        position: relative;
        z-index: 1;
        margin-bottom: -1px;
    }

    .nav-tabs-wrapper .nav-tabs {
        overflow-x: auto;
        flex-wrap: nowrap;
    }

    #menu0 {
        height: 350px;
    }

    #menu1 {
        padding: 0 !important;
    }
    #menu1 .new-office{
        margin: 0 10px;
        margin-bottom: 30px;
        max-width: calc(100% / 2 - 20px);
    }
    #menu1 p {
        margin: 0;
        margin-bottom: 20px;
        font-size: 12px;
    }
    #menu1 h5{
        padding: 0;
        font-size: 15px;
        font-weight: 700;
    }

    #menu1 .row-tabs {
        margin: 0;
    }

    #menu2, #menu3 {
        padding: 0;
    }
    #menu2 .operation-black{
        margin-right: 15px;
    }

    .operation-black p{
        padding: 15px 10px;
    }
    .operation-black h5{
        margin-bottom: 10px;
        padding-top: 10px;
    }
    .operation{
        margin-top: 0;
    }
    /* #menu2 .operation-black:first-child {
        margin: 0 15px 15px 15px;
        padding: 15px 10px;
    } */

    /* #menu2 .operation-black:nth-child(2) {
        margin: 0 15px 15px 0;
        padding: 15px 10px;
    } */
    #menu2 .row-tabs{
        margin: 0;
    }
    /* #menu2 .operation-black{
        padding: 5px;
    } */
    #menu3 .operation-black {
        padding: 15px 10px;
    }
    #menu3 .coltab {
        padding-left: 10px;
        padding-right: 10px;
    }

    #menu3 h4:after {
        border-left: 35px solid white;
        border-top: 25px solid transparent;
        border-bottom: 22px solid transparent;
        position: absolute;
        left: 88%;
        top: -6px;
    }

    #menu3 h4 {
        width: 75%;
        margin: auto;
        line-height: 1.3;
        margin-bottom: 10px;
        font-size: 13px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .operation-bottom {
        text-align: center;
        margin-top: 0;
        padding-bottom: 0;
        line-height: 1.3;
    }
    .operation-border {
        height: 93%;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        right: 0;
        top: 51%;
    }

    .factories span {
        position: absolute;
        font-size: 24px;
        top: -7px;
        right: 40%;
    }


    #menu4 .row-tabs{
        position: relative;
    }
    #menu4 .factories img {
        right: 0;
        position: relative;
        width: 100%;
        height: 250px;
        top: 51%;

    }

    #menu4 .circle span {
        line-height: 2;
    }


    #menu4 .factories {
        margin-top: 2%;
        height: 320px;
    }

    .factories-item {
        margin-left: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .coltab p {
        font-size: 14px;
    }

    .coltab-circle1, .coltab-circle {
        border-bottom: 1px solid white;
    }

    .factories-right p {
        margin-bottom: 15px;
        margin-left: 0;
    }

    #menu5 img {
        width: 80%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #menu5 p {
        margin: 0 25px;
        font-size: 14px;
    }

    #menu5 h1 {
        margin-bottom: 10px;
    }

    .tab-content .right-border {
        height: 160px;
    }

    .row-apthouse {
        margin: auto;
        margin-bottom: 10px;
        margin-top: 15px;
    }

    .hotel-mobile {
        order: -1;
        padding-right: 15px;
    }

    .hotel-mobile-1 {
        padding-left: 15px;
    }

    #menu6 .row-tabs, #menu4 .row-tabs {
        padding: 0;
        top: 5px;
        left: 0;
        transform: none;
        position: relative;
    }

    #menu6 .circle {
        height: 50px;
        width: 50px;
        margin: 0;
    }
    #menu6 .row-bottom{
        margin-top: 20px;
    }

    #menu6 .circle span {

        font-size: 20px;
    }

    .row-tabs .text-text {
        padding-right: 15px;
    }

    .text-text h5 {
        font-size: 13px;
    }

    .nav-tabs {
        display: flex;
    }

    .text-services h2 {
        font-size: 22px;
    }

    .text-services h3 {
        font-size: 16px;
    }

    .text-services p {
        padding: 0;
    }

    .card {
        border: none;
    }

    .card .card-header {
        display: none;
    }

    .card .collapse {
        display: block;
    }

    .languages .select {

    }

    .desktop {
        display: none !important;
    }

    .tab-button-outer {
        position: relative;
        z-index: 2;
        display: block;
    }

    .tab-select-outer {
        display: none;
    }

    .tab-contents {
        position: relative;
        top: -1px;
        margin-top: 0;
    }

    .nav-tabs .nav-item {
        font-size: 14px;
    }

    .nav-item select {
        padding-left: 0 !important;
    }

    .nav-item option {
        color: black;
    }

    .nav-tabs > li {
        float: none !important;
    }

    .about-mobile {
        display: none;
    }

    .row-news {
        margin: 0;
        padding: 15px;
    }
    .container-news{
        height: 46px;
    }
    .new-left {
        padding: 15px;
    }

    .colnews h2 {
        font-size: 22px;
    }

    .colnews p {
        font-size: 14px;
    }

    .slideshow-container {
        margin-bottom: 10px;
    }

    .slider-news .owl-stage-outer img {
        width: 100px !important;
        height: 100px;
    }

    #contain-about .about-us::before {
        height: 110%;
        top: 46%;
        left: 57%;
    }

    .slider-news .item img {
        margin-left: 33%;
    }

    .row-news .owl-theme .owl-nav.disabled + .owl-dots {
        left: 42%;
    }

    .owl-theme .owl-dots .owl-dot span {
        width: 8px;
        height: 8px;
        margin: 4px 2px;
    }

    .row-15 {
        margin: 0;
    }

    .colabout h2 {
        display: block;
        margin-bottom: 20px;
        font-size: 22px;
    }

    .colabout h2::before {
        width: 36%;
    }

    .content-home1 {
        margin-bottom: 8%;
    }

    .slider-service .item img {
        height: 350px;
    }

    .hightline-services .owl-carousel .owl-nav button.owl-prev,
    .hightline-services .owl-carousel .owl-nav button.owl-next {
        font-size: 70px;
        color: #000;
    }

    .contact {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 0px;
        padding-top: 20px;
    }

    .footer-contact h2 {
        font-size: 22px;
    }

    .footer-warpper {
        font-size: 14px;
    }

    input[type=submit] {
        font-size: 13px;
        background-color: #8e1ea2;
        color: white;
        margin-left: 125px;
        margin-bottom: 15px;
        padding: 3px 25px;
    }

    .text-form {
        margin-right: 0;
    }

    .col-form-contact {
        background: white;
    }
    .row-contacts{
        margin-top: 40px;
    }
    .contact {
        background: none;
    }

    .col-form {
        background-color: #dbdbdb;
    }

    .col-form-contact {
        order: -1;
    }

    .t-address {
        padding-right: 0;
    }

    .colcontact-1 {
        padding-right: 0;
        height: initial;
    }

    .text-address {
        margin: 0;
    }

    .t-contact .text-name {
        font-weight: 600;
        font-size: 16px;
        padding-left: 45px;
        margin-top: 15px;
    }

    .text-address, .text-phone, .text-email {
        padding-left: 20px;
    }

    .colcontact-1 {
        position: relative;
        border-right: none;
    }

    .tt-contact:before {
        content: "";
        position: absolute;
        width: 85%;
        bottom: -8%;
        left: 6%;
        border: 1px solid #8e1ea2;
    }

    .t-contact-jp {
        padding: 0;
        margin-bottom: 10px;
        margin-top: 30px;
    }

    .mdi-jp {
        height: 1px;
    }

    .contact-item .lnr {
        font-size: 20px;
    }

    .colcontact-1 {
        height: auto;
    }

    .icon-roll {
        margin-left: 171px;
        color: black;
        font-size: 23px;
        margin-bottom: -8px;
    }

    .icon-side, .icon-side i {
        display: none;
    }
    .select ul li{
        font-size: 19px;
        font-weight: 600;
    }
    #customer-jp  ,#customer-vn {
        border-bottom:1px solid #dee2e6 ;
    }
   .owl-dots .active span {
       background: #8e1ea2 !important;
   }

   .line-home {
        height: 2px;
        margin-bottom: 25px;
        margin-top: 25px;
        width: 50%;
    }
    /*principles*/
    .principles-image img{
        display: none;
    }
    .colprinciples-1{
        padding-left: initial;
        margin-top: 0;
        padding-left: 20px;
        padding-right: 10px;
    }
    .colprinciples-1 p{
        font-size: 14px;
        position: relative;
    }
    .colprinciples-1  p:before{
        content: "";
        background: black;
        width: 4%;
        height: 1px;
        position: absolute;
        top: 15%;
        left: -5%;
        transform: translateY(-50%);
        
    }
    .row-principles{
        margin: 20px 0;
        margin-left: 15px;
        margin-right: 15px;
    }
    .row-guiding{
        margin: 0 15px;
        padding: 0;
        background: none;
    }
    .content-guiding h4{
        font-size: 14px;
        margin-bottom: 15px;
        position: relative;
    }
    .content-guiding h4::before{
        content: "";
        background: #8e1ea2;
        width: 55%;
        height: 3px;
        position: absolute;
        top: -21px;
        left: 50%;
        transform: translateX(-50%);
    }
    .guiding-principles, .guiding-principles-1{
        background: #8e1ea2;
        margin-top: 0;
    }
    .guiding-principles{
        padding-top: 20px;
    }
    .guiding-principles h1{
        font-size: 18px;
        margin-bottom: 0;
    }
    .content-principles h4{
        font-size: 14px;
        margin-bottom: 0;
        margin-left: 35px;
        
    }
    .contain-guiding{
        padding-top: 10px;
    }
    .contain-principle{
        padding-bottom: 10px;
    }
    .content-principles p{
        padding: 0 15px;
        padding-bottom: 13px;
        margin-bottom: 0px;
    }
    .content-principles h4:before{
        opacity: 1;
        top: 50%;
        width: 5%;
        height: 1px;
    }
    .news-page{
        padding-top: 80px;
        margin: 0;
    }
    .news-page img{
        max-width: 100%;
    }
    /* logo */
    .logo{
        margin-bottom: 45px;
    }
    .container-logo {
        margin-bottom: -20px; 
        padding-top: 5px;
    }
    .border-bottom{
        margin: 0;
    }
    .owl-theme .owl-nav.disabled+.owl-dots{
        margin-bottom: -17px;
    }
 
    #customer-vn .owl-nav .owl-prev
    ,#customer-jp .owl-nav .owl-prev, #customer-vn .owl-nav .owl-next
    ,#customer-jp .owl-nav .owl-next {
        display: none;
    }
       
}

@media (min-width: 768px) and (max-width: 1024px) {

}

/** END Mobile navigation bar **/
/************* Responsive breakpoints *********************/